.height-100px {height:100px}
.height-650px {height:650px}
.height-full {height:100%}
.height-300px {height:300px}
.width-full {width:100%}
.width-80per {width:80%}
.width-70per {width:70%}
.width-60per {width:60%}
.margin-auto {margin: 0 auto}
.align-right {text-align:right}
.align-left{text-align:left}
.align-center{text-align:center}
.border-black{border : 1px solid black}
.butt{background-color:#ffe6e6; width:150px; height:50px; color:white; font-size:100%}
table, th, td {border : 1px solid white;}
th, td{font-size : 200%;text-align : center;}
/* main */
#main-tab-Layout {background-color:#e6f9ff}
/* user */
#main-tab-Layout-main-butt{background-color:#ffe6e6; width:150px; height:50px; color:white; font-size:100%}
#user-login-layout{border : 3px solid white; margin: 50px auto}
/* admin */
#admin-login-layout{border : 3px solid white; margin: 50px auto}